:root {
    --light-grayish-blue: hsl(220, 16%, 96%);
    --white: #ffffff;
    --grayish-blue: hsl(233, 8%, 62%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);
    --dark-blue: hsl(233, 26%, 24%);
    --very-light-gray: hsl(0, 0%, 98%);
}